* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
}

html, body {
/*  background: #161616 url('http://www.thirdprestige.com/assets/layout/bg-e119516dcb103e3ca18d567983c1f3f2.png');
*/
}
div { 
  margin: 0px;
  padding: 10px;
}

#container {
  margin: 3em auto;
  width: 760px;
}

h1,h3 {
  color: black;
  font-family: 'Denk One', sans-serif;
  margin-top: 10px;
/*  padding: 1em;*/

}
#slides {
  text-decoration: none;
  margin: 0px;

}
#panel {
  /*background: rgba(200, 200, 200, 0.3);*/
  
  float: left; 
  text-align: center;
  width: 30%;
}
  #panel:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#slides img {
  border-radius: 2px;
  width: 500px;
}


#sidebar {
  background: rgba(160, 160, 160, 0.2);
  float: right;
  min-height: 500px;
  padding-top: 10px;
  width: 30%;
  margin-top: 60px;
}

#sidebar img {
  background: rgba(160, 160, 160, 0.2);
  border-radius: 2px;
  cursor: pointer;
  margin-left: 5px;
  padding: 5px 6px;
}

#sidebar img:hover {
  background: rgba(160, 160, 160, 0.4);
}

#sidebar img.active {
  background: rgba(240, 160, 160, 0.3);
  opacity: 0.8;
}


